html {
  height: 100%;
}

body {
  background-color: #212529;
  background-image: linear-gradient(#212529, #000000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #ffffff;
  height: 100%;
  margin-bottom: 44px;
}

main {
  height: calc(100dvh - 50px);
  overflow-y: auto;
}

.footer {
  height: 44px;
}

.icon {
  height: 2em;
  width: 2em;
}

.clock {
  height: 4em;
  width: 4em;
}

@font-face {
  font-family: 'photograph_signatureregular';
  src: url('/fonts/photograph_signature-webfont.woff2') format('woff2'), url('/fonts/photograph_signature-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
