html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(#212529, #000000);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #ffffff;
  height: 100%;
}

.footer {
  height: 144px;
  line-height: 144px;
}
